In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sn

In [4]:
df = pd.read_csv('../data/liste_cinema_2024_clean.csv', sep=';', encoding='cp1252')
df.columns

Index(['Nom_cinema', 'code_postal', 'commune'], dtype='object')

In [5]:
# Fonction pour extraire le code département
def get_departement(cp):
    # Si c'est un code postal corse ou DOM-TOM
    if cp.startswith('20'):  # Corse
        return cp[:3] if cp[:3] in ['2A2', '2B2'] else cp[:2]
    elif cp[:2] in ['97', '98']:  # DOM-TOM
        return cp[:3]
    else:
        return cp[:2]

# Créer la nouvelle colonne
df['code_departement'] = df['code_postal'].apply(get_departement)

In [6]:
df

,Nom_cinema,code_postal,commune,code_departement
0,NomEtab,DEPCOM,COMMUNE,DE
1,UGC NORMANDIE,75108,Paris 8e Arrondissement,75
2,BALZAC,75108,Paris 8e Arrondissement,75
3,ELYSEES LINCOLN,75108,Paris 8e Arrondissement,75
4,UGC OPERA,75109,Paris 9e Arrondissement,75
...,...,...,...,...
2049,CAROUSSEL,55545,Verdun,55
2050,CLUB 6,70550,Vesoul,70
2051,L'ARCHE,54580,Villerupt,54
2052,ALHAMBRA,88516,Vittel,88
2053,MA JESTIC - ESPACE DES LUMIERES,70550,Vesoul,70

In [8]:
df.to_csv('../data/cinema_clean.csv', index=False, sep=';')