In [10]:
import pandas as pd
import numpy as np
import os
import matplotlib as plt

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
csv_path= '/home/karim/code/offre_culturelle/data/adresses_des_bibliotheques_publiques_prepared.csv' # Chemin vers le fichier CSV
if os.path.exists(csv_path):
    print(f"Le fichier {csv_path} existe.")
    adresses_des_bibliotheques_publiques = pd.read_csv(csv_path, sep=',')
else:
    print(f"Le fichier {csv_path} n'existe pas.")

Le fichier /home/karim/code/offre_culturelle/data/adresses_des_bibliotheques_publiques_prepared.csv existe.

In [3]:
print(adresses_des_bibliotheques_publiques.head()) # 5 rows x 46 columns
print(adresses_des_bibliotheques_publiques.info()) # 15 704 données - dtypes: float64(26), object(20)
print(adresses_des_bibliotheques_publiques.describe())

  Code_bib                     nom_de_l_etablissement  \
0    BD101               03 - MDA annexe de Commentry
1   BD1034  27 - MEDIATHEQUE DEPARTEMENTALE DE L'EURE
2   BD1270     31 - Médiathèque départementale annexe
3   BD1407            34 - MEDIATHEQUE DEPARTEMENTALE
4  BD14653                     62 - Site de Dainville

                      Adresse  code_region                Région  \
0           Place de la Butte         84.0  Auvergne-Rhône-Alpes
1  129 AVENUE Aristide Briand         28.0             Normandie
2   689 Chemin de la Graouade         76.0             Occitanie
3   907 RUE PROFESSEUR BLAYAC         76.0             Occitanie
4       3 rue du 19 mars 1962         32.0       Hauts-de-France

  code_departement    Département       CP          Ville  Population commune  \
0               03         Allier   3600.0      Commentry                 NaN
1               27           Eure  27025.0         Évreux                 NaN
2               31  Haute-Garonne  31800.0  Saint-Gaudens                 NaN
3               34        Hérault  34080.0    Montpellier                 NaN
4               62  Pas-de-Calais  62000.0      Dainville                 NaN

   ...  depenses_action_culturelle  depenses_documentaires etp_salaries  \
0  ...                         NaN                     0.0          NaN
1  ...                    157525.0                368099.0         24.5
2  ...                         NaN                     0.0          NaN
3  ...                    132000.0                279237.0         66.2
4  ...                         NaN                     0.0          NaN

  etp_salaries_non_titulaires Nombre de bénévoles  \
0                         NaN                 NaN
1                         3.8                 NaN
2                         NaN                 NaN
3                         3.0                 NaN
4                         NaN                 NaN

   temps_de_travail_des_benevoles Nombre de salariés gratuite_des_services  \
0                             NaN                NaN                   NaN
1                             NaN               25.0                   NaN
2                             NaN                NaN                   NaN
3                             NaN               67.0                   NaN
4                             NaN                NaN                   NaN

   nombre_actions_culturelles  pop_touchee_actions_culturelles
0                         NaN                              NaN
1                        70.0                              NaN
2                         NaN                              NaN
3                        77.0                              NaN
4                         NaN                              NaN

[5 rows x 30 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15602 entries, 0 to 15601
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Code_bib                         15602 non-null  object
 1   nom_de_l_etablissement           15602 non-null  object
 2   Adresse                          14822 non-null  object
 3   code_region                      15600 non-null  float64
 4   Région                           15602 non-null  object
 5   code_departement                 15602 non-null  object
 6   Département                      15601 non-null  object
 7   CP                               15601 non-null  float64
 8   Ville                            15602 non-null  object
 9   Population commune               15446 non-null  float64
 10  Longitude                        15451 non-null  float64
 11  Latitude                         15451 non-null  float64
 12  type_adresse                     15602 non-null  object
 13  site_internet                    9899 non-null   object
 14  site_internet_accessible         6559 non-null   object
 15  nombre_de_places                 11492 non-null  float64
 16  ouverture_le_dimanche            11893 non-null  object
 17  connexion_wi_fi                  13656 non-null  object
 18  nombre_de_livres                 13192 non-null  float64
 19  nombre_d_entrees                 8624 non-null   float64
 20  depenses_action_culturelle       9139 non-null   float64
 21  depenses_documentaires           11879 non-null  float64
 22  etp_salaries                     12706 non-null  float64
 23  etp_salaries_non_titulaires      6597 non-null   float64
 24  Nombre de bénévoles              12502 non-null  float64
 25  temps_de_travail_des_benevoles   10075 non-null  float64
 26  Nombre de salariés               12845 non-null  float64
 27  gratuite_des_services            13630 non-null  object
 28  nombre_actions_culturelles       9539 non-null   float64
 29  pop_touchee_actions_culturelles  8916 non-null   float64
dtypes: float64(17), object(13)
memory usage: 3.6+ MB
None
        code_region            CP  Population commune     Longitude  \
count  15600.000000  15601.000000        1.544600e+04  15451.000000
mean      55.517500  47913.114416        2.015326e+04      2.434644
std       25.665454  26373.547073        1.493182e+05      6.831847
min        0.000000   1000.000000        0.000000e+00    -62.848964
25%       32.000000  26300.000000        6.740000e+02      0.481542
50%       53.000000  47220.000000        1.469000e+03      2.530075
75%       76.000000  69780.000000        4.106500e+03      4.671686
max       94.000000  98834.000000        2.149216e+06    166.727000

           Latitude  nombre_de_places  nombre_de_livres  nombre_d_entrees  \
count  15451.000000      11492.000000      1.319200e+04      8.624000e+03
mean      46.168689         29.194831      1.192534e+04      9.678557e+03
std        5.922397         51.006351      3.818005e+04      3.619420e+04
min      -22.085000          0.000000      0.000000e+00      0.000000e+00
25%       44.949317         10.000000      1.978000e+03      5.090000e+02
50%       46.804932         16.000000      4.468500e+03      1.703500e+03
75%       48.492947         30.000000      1.020400e+04      5.829500e+03
max       51.070155       1968.000000      2.501861e+06      2.071805e+06

       depenses_action_culturelle  depenses_documentaires  etp_salaries  \
count                 9139.000000            11879.000000  12706.000000
mean                  2673.157457             9619.728092      1.796219
std                   9269.671416            31437.720033      5.404508
min                      0.000000                0.000000      0.000000
25%                      0.000000              478.500000      0.000000
50%                    170.000000             1999.000000      0.200000
75%                   1772.000000             6650.500000      1.350000
max                 270000.000000           651883.000000    215.480000

       etp_salaries_non_titulaires  Nombre de bénévoles  \
count                  6597.000000         12502.000000
mean                      0.445740             5.187010
std                       1.886044             5.596152
min                       0.000000             0.000000
25%                       0.000000             0.000000
50%                       0.000000             4.000000
75%                       0.500000             8.000000
max                     117.050000            78.000000

       temps_de_travail_des_benevoles  Nombre de salariés  \
count                    10075.000000        12845.000000
mean                         0.650208            2.172674
std                          1.691110            6.111551
min                          0.000000            0.000000
25%                          0.000000            0.000000
50%                          0.180000            1.000000
75%                          0.500000            2.000000
max                         29.000000          248.000000

       nombre_actions_culturelles  pop_touchee_actions_culturelles
count                 9539.000000                      8916.000000
mean                    72.914456                       850.999215
std                    804.448460                      2658.119554
min                      0.000000                         0.000000
25%                      8.000000                        80.000000
50%                     22.000000                       270.000000
75%                     53.000000                       800.000000
max                  73606.000000                    113095.000000

In [4]:
print(adresses_des_bibliotheques_publiques['Région'].value_counts(dropna=False)) # Affiche le nombre de bibliothèques par région, y compris les valeurs manquantes

Région
Auvergne-Rhône-Alpes          2610
Occitanie                     1982
Nouvelle-Aquitaine            1846
Grand Est                     1325
Hauts-de-France               1243
Bourgogne-Franche-Comté       1069
Bretagne                      1068
Pays de la Loire              1020
Île-de-France                 1009
Centre-Val de Loire            796
Provence-Aples-Côte d'Azur     710
Normandie                      694
La Réunion                      72
Corse                           52
Guadeloupe                      38
Martinique                      30
Guyane                          24
Mayotte                         14
Name: count, dtype: int64

In [5]:
print(adresses_des_bibliotheques_publiques['Région'].isna().sum()) # Affiche le nombre de valeurs manquantes dans la colonne 'Région'

0

In [7]:
region_counts_sorted = region_counts.sort_index() # Tri par ordre alphabétique les régions
print(region_counts_sorted)

Région
Auvergne-Rhône-Alpes          2610
Bourgogne-Franche-Comté       1069
Bretagne                      1068
Centre-Val de Loire            796
Corse                           52
Grand Est                     1325
Guadeloupe                      38
Guyane                          24
Hauts-de-France               1243
La Réunion                      72
Martinique                      30
Mayotte                         14
Normandie                      694
Nouvelle-Aquitaine            1846
Occitanie                     1982
Pays de la Loire              1020
Provence-Aples-Côte d'Azur     710
Île-de-France                 1009
Name: count, dtype: int64

In [8]:
import matplotlib.pyplot as plt

region_counts.plot(kind='barh', figsize=(10, 8), title="Nombre de bibliothèques par région")
plt.xlabel("Nombre de bibliothèques")
plt.ylabel("Région")
plt.tight_layout()
plt.show()

ModuleNotFoundError: No module named 'matplotlib'